


<div class="container">

    <div class="modal fade" id="myDeleteModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    @*<h4 class="modal-title"></h4>*@
                </div>

                <div class="modal-body">
                    <b><h3>Sektör Silinecek! Emin misin?</h3></b>
                    <form class="form-group">
                        @*<b>Sektor Adı</b><br />*@
                        <h4 style="color:red;" id="sektorvekonuname"></h4>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="sektorVeKonuDelete" class="btn btn-outline-success">Ok</button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                </div>


            </div>
        </div>
    </div>
</div>