


<div class="container">

    <div class="modal fade" id="mySaveModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Yeni Sektör Ekleme</h4>
                </div>

                <div class="modal-body">
                    <form class="form-group" id="sektorkaydet">
                        <label>Sektör Adı</label>
                        <input id="txtsektoradi" type="text" required placeholder="Sektör Adı Giriniz" class="form-control" />
                        <span class="requiredField" id="txtsektoradiRequired" style="display:none;">Bu alan zorunludur!</span>
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="sektorSave" class="btn btn-outline-primary">Kaydet</button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .requiredField {
        color: red;
    }
</style>
