@model NewVizyonProject.Models.ViewModel.SektorVeKonuViewModel

<div class="container">

    <div class="modal fade" id="myKonuModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Yeni Konu Ekleme</h4>
                </div>

                <div class="modal-body">
                    <form class="form-group">
                        @*<label>Sektör Adı</label>*@
                        <input id="txtkonuadi" type="text" placeholder="Konu İçeriği Giriniz" class="form-control" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="konuSave" class="btn btn-outline-primary">Kaydet</button>

                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
