
<div class="container">

    <div class="modal fade" id="myAciklamaModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    @*<h4 class="modal-title"></h4>*@
                </div>

                <div class="modal-body">
                    <form class="form-group col-md-12">
                        <div class="col-md-6">
                            <label for="aciklama">Onay Tarihi</label>
                            <input id="onayTarihi" name="onayTarihi" type="date" required value="" />
                        </div>

                        <div class="col-md-6">
                            <label for="aciklama">Puan Ver</label>
                            <input id="puanVer" name="puanVer" required type="number" value="1" min="1" max="10" />
                        </div>

                        <div class="col-md-12" style="margin-top:20px;">
                            <label for="aciklama">Açıklama</label>
                            <textarea style="resize: none;" class="form-control" cols="20" id="Description" name="Description" required rows="2"></textarea><span class="requiredField" id="txtdetayRequired" style="display:none;">Bu alan zorunludur!</span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="aciklamaSave" class="btn btn-outline-primary">Save</button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .requiredField {
        color: red;
    }
</style>