@model NewVizyonProject.Models.ViewModel.SektorVeKonuViewModel

<div class="container">

    <div class="modal fade" id="myUpdateModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    @*<h4 class="modal-title"></h4>*@
                </div>

                <div class="modal-body">
                    <form class="form-group">
                        @*<b>Sektor Id</b>*@
                        <input id="sektorvekonuupdateid" type="hidden" class="form-control" />
                        <b>Sektor Adı</b><br /><br />
                        <input id="sektorvekonuupdatename" type="text" class="form-control" />

                        @*<h4 style="color:red;" id="sektorvekonuupdatename"></h4>*@
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="sektorVeKonuUpdate" class="btn btn-outline-success">Güncelle</button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                </div>


            </div>
        </div>
    </div>
</div>
